@font-face {
	font-family: "icons";
	src: url('../fonts/icons/icons.eot');
	src: url('../fonts/icons/icons.eot?#iefix') format('eot'),
		url('../fonts/icons/icons.woff') format('woff'),
		url('../fonts/icons/icons.ttf') format('truetype');
}

@mixin ico-styles {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%ico {
	@include ico-styles;
}

@function ico-char($filename) {
	$char: "";

	@if $filename == bplane {
		$char: "\E001";
	}
	@if $filename == down {
		$char: "\E002";
	}
	@if $filename == logo {
		$char: "\E003";
	}
	@if $filename == plane {
		$char: "\E004";
	}

	@return $char;
}

@mixin ico($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %ico;
		} @else {
			@include ico-styles;
		}
		content: ico-char($filename);
	}
}

.ico-bplane {
	@include ico(bplane);
}
.ico-down {
	@include ico(down);
}
.ico-logo {
	@include ico(logo);
}
.ico-plane {
	@include ico(plane);
}
