// Dimensions
// -----------------------------------------------------------------------------
$menu-h:   				115px;
$menu-h-s:				65px;
$menu-h-m:   			65px;
$menu-h-m-s:   		50px;

// Colors
// -----------------------------------------------------------------------------
$green: 				#9fd533;
$greenh:				#afeb38;
$blue: 					#333440;
$bgblue:				#080f30;
$navhvr:				#9fd533;
