<a href="index.html" id="logo">
	<img id="logo-bright" src="img/sys/logo.png">
	<img id="logo-dark" src="img/sys/logodark.png">
</a>
<div class="menu-call-m">
	<span></span>
	<span></span>
	<span></span>
</div>
<div class="menu-mob-wrap">
	<div class="menu-fb">
		<div class="fb-like" data-href="http://rucinskas.lt" data-width="100" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
	</div>
	<ul class="menu">
		<li class="menu-itm"><a href="#features">Features</a></li>
		<li class="menu-itm"><a href="#pricing">Pricing</a></li>
	</ul>
</div>