---
layout: default.hbs
title: Baltic Horizon
bgMain: "img/tvs/bg-home.png"
classMain: "home"
---

<div class="home-swiper swiper-container row">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<div class="vertical-middle">
				<div class="col-md-5 offset-md-2">
					<h2>Europa</h2>
					<p>The Europa centre is the trendiest and second largest shopping facility of its kind in Vilnius, the Lithuanian capital. This modern centre is part of the developments in the city centre, less than a 10-minute walk from the Old Town.</p>
					<a href="#" class="btn btn-outline-white">More</a>
				</div>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="vertical-middle">
				<div class="col-md-5 offset-md-2">
					<h2>Europa</h2>
					<p>The Europa centre is the trendiest and second largest shopping facility of its kind in Vilnius, the Lithuanian capital. This modern centre is part of the developments in the city centre, less than a 10-minute walk from the Old Town.</p>
					<a href="#" class="btn btn-outline-white">More</a>
				</div>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="vertical-middle">
				<div class="col-md-5 offset-md-2">
					<h2>Europa</h2>
					<p>The Europa centre is the trendiest and second largest shopping facility of its kind in Vilnius, the Lithuanian capital. This modern centre is part of the developments in the city centre, less than a 10-minute walk from the Old Town.</p>
					<a href="#" class="btn btn-outline-white">More</a>
				</div>
			</div>
		</div>
	</div>
	<div class="swiper-pagination"></div>
</div>
